<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{title}}</h1>
            {{#if error }}
            <div class="alert alert-danger" role="alert">
                {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <img src="/images/{{user.avatar}}" class="img-thumbnail" alt="Profile Picture">
            <br/>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <label>
                    <strong>Change Profile Photo</strong>
                </label>
                <br/>
                <input type="file" name="filetoupload" accept="jpg|jpeg|png" class="form-control" required>
                <br/>
                <input type="submit" value="Upload" class="btn btn-primary">
            </form>
        </div>
        <div class="col-sm-3">
            <h4>Username:
                <span class="pull-right">{{user.username}}</span>
            </h4>
            <h4>Email:
                <span class="pull-right">{{user.email}}</span>
            </h4>
            <h4>Completed Items:
                <span class="badge badge-pill badge-success pull-right">{{numCompleteTodos}}</span>
            </h4>
            <h4>Pending Items:
                <span class="badge badge-pill badge-warning pull-right">{{numPendingTodos}}</span>
            </h4>
        </div>
        <div class="col-sm-6">
            <h2>Change Password</h2>
            {{#if passwordError}}
            <div class="alert alert-danger">{{passwordError}}</div>
            {{/if}} {{#if passwordSuccess}}
            <div class="alert alert-success">{{passwordSuccess}}</div>
            {{/if}}
            <form action="" method="post">
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password1" autocomplete="off" minlength="4" required>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" name="password2" autocomplete="off" minlength="4" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Change Password</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">

    </div>
</div>